*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #c7c7c7;
  overflow: hidden;
  z-index: -2;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 0%;
  width: 159px;
  height: 159px;
  bottom: -159px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 28%;
  width: 137px;
  height: 137px;
  bottom: -137px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 15%;
  width: 117px;
  height: 117px;
  bottom: -117px;
  animation-delay: 9s;
}
.background li:nth-child(3) {
  left: 77%;
  width: 117px;
  height: 117px;
  bottom: -117px;
  animation-delay: 5s;
}
.background li:nth-child(4) {
  left: 89%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 2s;
}
.background li:nth-child(5) {
  left: 47%;
  width: 190px;
  height: 190px;
  bottom: -190px;
  animation-delay: 2s;
}
.background li:nth-child(6) {
  left: 37%;
  width: 128px;
  height: 128px;
  bottom: -128px;
  animation-delay: 26s;
}
.background li:nth-child(7) {
  left: 22%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 17s;
}
.background li:nth-child(8) {
  left: 19%;
  width: 142px;
  height: 142px;
  bottom: -142px;
  animation-delay: 15s;
}
.background li:nth-child(9) {
  left: 33%;
  width: 105px;
  height: 105px;
  bottom: -105px;
  animation-delay: 13s;
}
