@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
}

#home {
  background: url("/background.png") no-repeat center center fixed;
  background-size: cover;
  background-attachment: scroll;
}

.text-gradient {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.my-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.my-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
