@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.my-hero {
  min-height: calc(100vh - 4rem);
}

.my-section {
  @apply text-base-content p-5 py-[4rem] lg:py-[6rem];
}

.heading-2 {
  @apply text-xl font-bold mb-10 underline underline-offset-4;
}
